
// Body
$body-color: #363636;
$body-bg: #F5F8FA;

// Typography
$font-family-sans-serif: "Open Sans", Verdana, Arial, "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #363636;

// Navbar
$navbar-default-bg: #0EA7DF;
//
$navbar-default-color: #124577;

// Buttons
$btn-default-color: $text-color;

// Panels
$panel-default-heading-bg: #FFFFFF;
