
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// CSS von Oliver Nigbur
html, body {
    background-color: $body-bg;
    color: $body-color;
    font-family: $font-family-sans-serif;
    font-size::  $font-size-base;
    line-height: $line-height-base;
    color: $text-color;
    font-weight: 100;
    //height: 100vh;
    //margin: 0;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Ubuntu";
}
#wtoc_navigation
{
  min-height: 120px;
}
#wtoc_maincontent {
  padding-top: 140px;
  padding-bottom: 120px;
}
.wtoc_header_logo {
  width: 160px;
  margin-right: 20px;
}
.wtoc_footer_logo {
  width: 80px;
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
}
.navbar_header_wtoc {
  background-color: $navbar-default-bg!important;
  color: $navbar-default-color!important;
}
.navbar_footer_wtoc {
  padding-top: 20px;
  background-color: #000;
  width: 100%;
  border-top: 8px solid #222;
  height: 140px;
  min-height: 140px; /* Set the fixed height of the footer here */
}
.navbar_footer_wtoc .text_footer_wtoc {
  vertical-align: top;
  color: #FFFFFF;
  font-size: 75%;
}
.navbar {
    min-height: 120px!important;
    margin-bottom: 0px!important;
    border-radius: 0px!important;
}
#section_breadcrumb {
  padding-top: 0px;
  padding-bottom: 0px;
}
#section_breadcrumb .breadcrumb {
  background-color: #000;
  border-radius: 0px;
}
header {
  margin-top: -26px;
}
#section_content {
  padding-top: 8px;
}
header .intro-text .intro-lead-in {
  font-family: "Ubuntu"!important;
  font-style: normal!important;
}
@media (min-width: 768px) {
  header .intro-text .intro-lead-in {
    font-family: "Ubuntu"!important;
    font-style: normal!important;
  }
}
#time {
  font-size: 400%;
  color: #0EA7DF;
  background-color: #124577;
}
